
@import "tailwindcss";
@config "../tailwind.config.js";
@plugin "../config/heroUI-import.ts";



@theme {
    --*: initial; /* dont use tw default values */


    /* 
     * breakpoints: 
     */

    /* tiny mobile <320px */
        /* 0 */
    /* normal mobile - 320px */
        --breakpoint-xs: calc(320rem/16);       /* tw puvodne > sm 40rem (640px)	@media (width >= 40rem) { ... } */
    /* large mobile - 560px */
        --breakpoint-sm: calc(560rem/16);       /* tw puvodne > sm 40rem (640px)	@media (width >= 40rem) { ... } */
    /* tablet - 720px */
        --breakpoint-md: calc(720rem/16);       /* tw puvodne > md 48rem (768px)	@media (width >= 48rem) { ... } */
    /* desktop - 1040px */
        --breakpoint-lg: calc(1040rem/16);      /* tw puvodne > lg 64rem (1024px)	@media (width >= 64rem) { ... } */
    /* wide screen - 1216px */
        --breakpoint-xl: calc(1216rem/16);      /* tw puvodne > xl 80rem (1280px)	@media (width >= 80rem) { ... } */
    /* full hd - 1408px */
        --breakpoint-2xl: calc(1408rem/16);     /* tw puvodne > 2xl	96rem (1536px)	@media (width >= 96rem) { ... } */




    /* container responsivity */
    /* -container-tablet-max-w: calc(640rem/16); */
    --container-3xs: 16rem;
    --container-sm: 24rem;
    --container-lg: 32rem;
    --container-4xl: 56rem;



    
    --mobile-page-margin: 1.6rem;
    --grid-cols-narrow-left: 2fr 3fr;
    --grid-cols-narrow-right: 3fr 2fr;



    --spacing: 0.25rem;
    --spacing-vertical-gap-small: 3rem;
    --spacing-vertical-gap: 4rem; /* gap on touch screens*/
    --spacing-horizontal-gap: 4rem;
    --spacing-horizontal-gap-double: 8rem;

    --spacing-tablet-text-max-w: calc(600rem/16);



    /* section padding - not an tw override */
    --section-padding-y: 4rem;
    --section-padding-y-md: 6rem;
    --section-padding-y-lg: 8rem;



    /* --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
        "Courier New", monospace; */
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-beige: #CDBEA3;
    --color-beige-light: color-mix(in srgb, var(--color-beige) 30%, transparent);

    --color-grey-dark: #606060;
    --color-gray: #606060;
    --color-link: var(--color-grey-dark);
    --color-link-light: #B1B1B1;

    --color-bg: #F9F9F9;

    --color-stroke: #606060;
    --color-stroke-light: #CCC8C8;
    --color-stroke-ultralight: #D7D7D7;
    --color-stroke-ultraultralight: #E6E6E6;
    --color-border: var(--color-stroke);
    --color-text: var(--color-black);
    --color-accent: var(--color-beige);

    --color-red: #FF0000;
    --color-red-light: #FF0000;
    --color-green: #00FF00;
    --color-green-light: #00FF00;
    --color-blue: #0000FF;
    --color-blue-light: #0000FF;
    --color-yellow: #FFFF00;
    --color-yellow-light: #FFFF00;
    --color-purple: #FF00FF;
    --color-purple-light: #FF00FF;
    --color-orange: #FFA500;
    --color-orange-light: #FFA500;
    --color-gray: #808080;
    --color-gray-light: #808080;
    --color-black: #000000;

    --text-xs: calc(12rem/16); /* old 12px */
    --text-xs--line-height: calc(1 / 0.75);

    --text-form-label: calc(14rem/16); /* old 16px */
    --text-form-label--line-height: 1.62em;
    --text-form-label--font-weight: 300;

    --text-small: calc(12rem/16);
    --text-small--line-height: 1.62em;
    --text-small--font-weight: 300;

    --text-base: calc(18rem/16); /* old 16px */
    --text-base-lg: calc(19rem/16); /* old 16px */
    --text-base--line-height: 1.62em;
    --text-base--font-weight: 300;

    --text-big: calc(20rem/16); /* text-2xl */
    --text-big-lg: calc(23rem/16); /* old 60px */
    --text-big--line-height: 1.62em;
    --text-big--font-weight: 300;
    
    --text-xl: calc(20rem/16); /* old 20px */
    --text-xl--line-height: calc(1.75 / 1.25);
    --text-3xl: calc(30rem/16); /* old 30px */
    --text-3xl--line-height: calc(2.25 / 1.875);
    --text-4xl: calc(40rem/16); /* old 36px */
    --text-4xl--line-height: calc(2.5 / 2.25);
    --text-5xl: calc(50rem/16); /* old 48px */
    --text-5xl--line-height: 1;
    --text-6xl: calc(60rem/16); /* old 60px */
    --text-6xl--line-height: 1;

    --font-weight-extralight: 200;
    --font-weight-light: 300;
    --font-weight-semibold: 600;

    /* --tracking-tight: -0.025em;
    --tracking-wide: 0.1em; */

    --radius-lg: 0.5rem;

    --default-transition-duration: 150ms;
    --default-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    --font-primary: "Geologica", sans-serif;

    --default-font-family: var(--font-primary);
    --default-mono-font-family: var(--font-mono);


  

    --tracking-normal: 0.05em;
    --tracking-almost-normal: 0.08em;
    --tracking-wide: 0.12em;
    --tracking-wider: 0.2em;

    --font-geologica: "Geologica", sans-serif;
    --font-primary: "Geologica", sans-serif;

}
body {
    background: var(--color-bg)
}
html, body {
    scroll-behavior: smooth;
}

@custom-variant breakpoint-xs {@media (min-width: theme(breakpoint-xs)) {@slot}} /* 320px - tiny mobile */
@custom-variant breakpoint-sm {@media (min-width: theme(breakpoint-sm)) {@slot}} /* 360px - large mobile */
@custom-variant breakpoint-md {@media (min-width: theme(breakpoint-md)) {@slot}} /* 769px - tablet */
@custom-variant breakpoint-lg {@media (min-width: theme(breakpoint-lg)) {@slot}} /* 1040px - desktop */
@custom-variant breakpoint-xl {@media (min-width: theme(breakpoint-xl)) {@slot}} /* 1216px - widescreen */
@custom-variant breakpoint-2xl {@media (min-width: theme(breakpoint-2xl)) {@slot}} /* 1408px - full hd */




:root {
    --container-width-default: 92%;
    --container-max-width: 1600px;
}
.container {  
    padding-inline: calc(var(--mobile-page-margin)/2);
    max-width: 98%;

    background: var(--container-debug-col);  
}
.text-base {
    font-size: var(--text-base);
}
.text-big {
    font-size: var(--text-big);
}
@variant breakpoint-xs {
    .container {
        padding-inline: var(--mobile-page-margin);

        background: var(--container-debug-col-xs);
    }
}

@variant breakpoint-sm {
    .container {     
        padding-inline: 0;
        max-width: 100%;
        width: var(--container-width-default);
        
        background: var(--container-debug-col-md);
    }
}
@variant breakpoint-md {
    .container {
        background: var(--container-debug-col-lg);
    }
}
@variant breakpoint-lg {
    .container {
        background: var(--container-debug-col-xl);
    }
    .text-base {
        font-size: var(--text-base-lg);
    }
    .text-big {
        font-size: var(--text-big-lg);
    }
}
@variant breakpoint-xl {
    .container {

        background: var(--container-debug-col-2xl);
    }
}
@variant breakpoint-2xl {
    .container {
        max-width: calc(1680rem/16);
        width: var(--container-width-default);

        background: var(--container-debug-col-2xl);
    }
}
 @layer utilities {
    .border-default-b {
        border-bottom: 1px solid var(--color-border);
    }
    .border-default-t {
        border-top: 1px solid var(--color-border);
    }
    .border-default-l {
        border-left: 1px solid var(--color-border);
    }
    .border-default-r {
        border-right: 1px solid var(--color-border);
    }
 }
  
@layer base {
    body {
        @apply bg-bg;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-primary);
        color: var(--color-black);
        font-weight: 400;
        text-spacing: var(--tracking-wide);
        @apply tracking-wider;
        @apply uppercase;
    }
    
    .h2 {
        font-size: calc(30rem/16);
        text-align: center;
        @apply tracking-almost-normal;
    }
    @variant breakpoint-md {
        .h2 {
            font-size: calc(24rem/16);
        }
    }
    @variant breakpoint-lg {
        .h2 {
            font-size: calc(32rem/16);
            text-align: left;
        }
    }
    
    .h3 {
        font-size: calc(20rem/16);
        @apply tracking-almost-normal;
    }

    p {
        @apply text-base;
        margin-bottom: 1em;
    }
    a {
        @apply text-link;
        @apply underline;
/*         
        &:hover {
            color: var(--color-black);
        } */
    }
    .link-light {
        color: var(--color-link-light);

        &:hover {
            color: var(--color-white);
        }
    }
}
/* body {
    background: var(--color-bg);
} */


@layer utilities {
    .py-section {
        padding-block: var(--section-padding-y);
    }
    
    @variant breakpoint-md {
        .py-section {
            padding-block: var(--section-padding-y-md);
        }
    }
    
    @variant breakpoint-lg {
        .py-section {
            padding-block: var(--section-padding-y-lg);
        }
    }
    .mb-h2 {
        @apply mb-5;
    }
}

@layer utilities {
    .py-section-half {
        padding-block: calc(var(--section-padding-y));
    }
    
    @variant breakpoint-md {
        .py-section-half {
            padding-block: calc(var(--section-padding-y));
        }
    }
    
    @variant breakpoint-lg {
        .py-section-half {
            padding-block: calc(var(--section-padding-y-lg) / 2 );
        }
    }
    .mb-h2 {
        @apply mb-5;
    }
}

/* Accordion indicator animation - why doesnt it work ??*/
[data-open="true"] [data-slot="indicator"] {
    transform: rotate(180deg);
    transition: transform 300ms ease;
}

[data-open="false"] [data-slot="indicator"] {
    transform: rotate(0deg);
    transition: transform 300ms ease;
}

.light, .dark {
        /* color-scheme: light; */
        /* --heroui-background: 0 0% 100%;
        --heroui-foreground-50: 0 0% 98.04%;
        --heroui-foreground-100: 240 4.76% 95.88%;
        --heroui-foreground-200: 240 5.88% 90%;
        --heroui-foreground-300: 240 4.88% 83.92%;
        --heroui-foreground-400: 240 5.03% 64.9%;
        --heroui-foreground-500: 240 3.83% 46.08%;
        --heroui-foreground-600: 240 5.2% 33.92%;
        --heroui-foreground-700: 240 5.26% 26.08%;
        --heroui-foreground-800: 240 3.7% 15.88%;
        --heroui-foreground-900: 240 5.88% 10%;
        --heroui-foreground: 201.82 24.44% 8.82%;
        --heroui-divider: 0 0% 6.67%;
        --heroui-focus: 212.02 100% 46.67%;
        --heroui-overlay: 0 0% 0%;
        --heroui-content1: 0 0% 100%;
        --heroui-content1-foreground: 201.82 24.44% 8.82%;
        --heroui-content2: 240 4.76% 95.88%;
        --heroui-content2-foreground: 240 3.7% 15.88%;
        --heroui-content3: 240 5.88% 90%;
        --heroui-content3-foreground: 240 5.26% 26.08%;
        --heroui-content4: 240 4.88% 83.92%;
        --heroui-content4-foreground: 240 5.2% 33.92%;
        --heroui-default-50: 0 0% 98.04%;
        --heroui-default-100: 240 4.76% 95.88%;
        --heroui-default-200: 240 5.88% 90%;
        --heroui-default-300: 240 4.88% 83.92%;
        --heroui-default-400: 240 5.03% 64.9%;
        --heroui-default-500: 240 3.83% 46.08%;
        --heroui-default-600: 240 5.2% 33.92%;
        --heroui-default-700: 240 5.26% 26.08%;
        --heroui-default-800: 240 3.7% 15.88%;
        --heroui-default-900: 240 5.88% 10%;
        --heroui-default-foreground: 0 0% 0%;
        --heroui-default: 240 4.88% 83.92%;
        --heroui-primary-50: 212.5 92.31% 94.9%;
        --heroui-primary-100: 211.84 92.45% 89.61%;
        --heroui-primary-200: 211.84 92.45% 79.22%;
        --heroui-primary-300: 212.24 92.45% 68.82%;
        --heroui-primary-400: 212.14 92.45% 58.43%;
        --heroui-primary-500: 212.02 100% 46.67%;
        --heroui-primary-600: 212.14 100% 38.43%;
        --heroui-primary-700: 212.24 100% 28.82%;
        --heroui-primary-800: 211.84 100% 19.22%;
        --heroui-primary-900: 211.84 100% 9.61%;
        --heroui-primary-foreground: 0 0% 100%;*/
  
        /*
        --heroui-secondary-50: 270 61.54% 94.9%;
        --heroui-secondary-100: 270 59.26% 89.41%;
        --heroui-secondary-200: 270 59.26% 78.82%;
        --heroui-secondary-300: 270 59.26% 68.24%;
        --heroui-secondary-400: 270 59.26% 57.65%;
        --heroui-secondary-500: 270 66.67% 47.06%;
        --heroui-secondary-600: 270 66.67% 37.65%;
        --heroui-secondary-700: 270 66.67% 28.24%;
        --heroui-secondary-800: 270 66.67% 18.82%;
        --heroui-secondary-900: 270 66.67% 9.41%;
        --heroui-secondary-foreground: 0 0% 100%;
        --heroui-secondary: 270 66.67% 47.06%;
        --heroui-success-50: 146.67 64.29% 94.51%;
        --heroui-success-100: 145.71 61.4% 88.82%;
        --heroui-success-200: 146.2 61.74% 77.45%;
        --heroui-success-300: 145.79 62.57% 66.47%;
        --heroui-success-400: 146.01 62.45% 55.1%;
        --heroui-success-500: 145.96 79.46% 43.92%;
        --heroui-success-600: 146.01 79.89% 35.1%;
        --heroui-success-700: 145.79 79.26% 26.47%;
        --heroui-success-800: 146.2 79.78% 17.45%;
        --heroui-success-900: 145.71 77.78% 8.82%;
        --heroui-success-foreground: 0 0% 0%;
        --heroui-success: 145.96 79.46% 43.92%;
        --heroui-warning-50: 54.55 91.67% 95.29%;
        --heroui-warning-100: 37.14 91.3% 90.98%;
        --heroui-warning-200: 37.14 91.3% 81.96%;
        --heroui-warning-300: 36.96 91.24% 73.14%;
        --heroui-warning-400: 37.01 91.26% 64.12%;
        --heroui-warning-500: 37.03 91.27% 55.1%;
        --heroui-warning-600: 37.01 74.22% 44.12%;
        --heroui-warning-700: 36.96 73.96% 33.14%;
        --heroui-warning-800: 37.14 75% 21.96%;
        --heroui-warning-900: 37.14 75% 10.98%;
        --heroui-warning-foreground: 0 0% 0%;
        --heroui-warning: 37.03 91.27% 55.1%;
        --heroui-danger-50: 339.13 92% 95.1%;
        --heroui-danger-100: 340 91.84% 90.39%;
        --heroui-danger-200: 339.33 90% 80.39%;
        --heroui-danger-300: 339.11 90.6% 70.78%;
        --heroui-danger-400: 339 90% 60.78%;
        --heroui-danger-500: 339.2 90.36% 51.18%;
        --heroui-danger-600: 339 86.54% 40.78%;
        --heroui-danger-700: 339.11 85.99% 30.78%;
        --heroui-danger-800: 339.33 86.54% 20.39%;
        --heroui-danger-900: 340 84.91% 10.39%;
        --heroui-danger-foreground: 0 0% 100%;
        --heroui-danger: 339.2 90.36% 51.18%;

        --heroui-divider-weight: 1px;
        --heroui-disabled-opacity: .5;

        --heroui-font-size-tiny: .75rem;
        --heroui-font-size-small: .875rem;
        --heroui-font-size-medium: 1rem;
        --heroui-font-size-large: 1.125rem;
        --heroui-line-height-tiny: 1rem;
        --heroui-line-height-small: 1.25rem;
        --heroui-line-height-medium: 1.5rem;
        --heroui-line-height-large: 1.75rem;*/

        --heroui-radius-small: 0px;
        --heroui-radius-medium: 0px;
        --heroui-radius-large: 0px;
        --heroui-border-width-small: 1px;
        --heroui-border-width-medium: 1px;
        --heroui-border-width-large: 1px;
        /* --heroui-box-shadow-small: 0px 0px 5px 0px #00000005, 0px 2px 10px 0px #0000000f, 0px 0px 1px 0px #0000004d;
        --heroui-box-shadow-medium: 0px 0px 15px 0px #00000008, 0px 2px 30px 0px #00000014, 0px 0px 1px 0px #0000004d;
        --heroui-box-shadow-large: 0px 0px 30px 0px #0000000a, 0px 30px 60px 0px #0000001f, 0px 0px 1px 0px #0000004d; */
        --heroui-hover-opacity: 1;
    }


/* debug breakpoints */
/*:root {

    --container-debug-col: teal;
    --container-debug-col-xs: purple;
    --container-debug-col-sm: red;
    --container-debug-col-md: green;
    --container-debug-col-lg: blue;
    --container-debug-col-xl: yellow;
    --container-debug-col-2xl: orange;
} */